@import "variables.scss";

body {
  width: 100%;
  min-height: 100vh;
  background-color: color("light-gray");
  position: relative;
}

.nav-bar,
.footer {
  background-color: color("electric-blue");
}

.nav-bar {
  font-family: $cursive;
  display: inline-flex;
  color: color("white");
  width: 100%;
  height: 56px;
  line-height: 56px;
  position: sticky;
  top: 0;

  .nav-wrapper {
    position: relative;
    height: 100%;
    margin: 0 auto;
    width: 90%;

    .title-text {
      display: none;
    }

    .site-logo-container {
      width: fit-content;

      .site-logo {
        width: 40px;
        height: 40px;
        border-radius: 30%;
        margin: 5px;
        width: fit-content;
        position: relative;
        right: 15px;
      }
    }

    #nav-mobile {
      position: relative;
      bottom: 50px;
      float: right;
    }
  }
}

.container {
  margin: 0;
  width: 100vh;
  color: color("dark-teal");
  font-weight: bold;
  margin: auto;
  position: relative;
  z-index: 10;
}

#unauth-content-container {
  .welcome-container {
    background-image: url("../assets/ev-charging.png");
    background-size: cover;
    height: 50vh;
    background-position: center;

    .welcome-text {
      text-align: center;
      color: color("dark-teal");
      font-weight: bold;
      margin: 0;
      padding: 25px 0;
      max-width: 500px;
      font-size: 1.5rem;
      margin: auto;
      text-transform: uppercase;
    }
  }

  .description-container {
    .description-text {
      font-size: 18px;
      background-color: color("xlight-blue");
      margin: 0;
      color: color("dark-teal");
      text-align: center;
      padding: 25px;
      font-weight: 500;
    }

    .asset {
      width: 100%;
      height: 100%;
    }
  }

  .cta-container {
    background-image: url("../assets/cta-asset.jpg");
    height: 50%;
    background-size: cover;
    background-position: 50% center;

    .cta-text {
      margin: 0;
      font-size: 18px;
      color: color("dark-teal");
      text-align: center;
      padding: 25px 0;
      max-width: 100%;
      margin: auto;
    }

    #cta-text-top {
      font-weight: 500;
    }

    #cta-text-bottom {
      margin-top: 40%;
      font-weight: bold;
      padding: 0 15px;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 64px;
  display: inline-flex;
  margin-top: auto;
  justify-content: center;

  .footer-text {
    margin: auto;
    color: color("white");
    font-family: $cursive;
    text-align: center;
    margin-left: 5px;
  }

  .github-icon {
    border: 1px solid color("gray");
    height: 24px;
    border-radius: 50%;
    margin: 20px 5px;
  }
}

@media screen and (min-width: $breakpoint-mobile-lg) {
  .nav-bar {
    height: 64px;
    line-height: 64px;

    .nav-wrapper {
      .site-logo-container {
        .site-logo {
          top: 5px;
        }
      }

      .title-text {
        width: fit-content;
        display: inline-flex;
        position: relative;
        bottom: 65px;
        left: 40px;
        padding-left: 5px;
      }
    }
  }

  #unauth-content-container {
    .cta-container {
      #cta-text-bottom {
        margin-top: 30%;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .nav-bar {
    .nav-wrapper {
      .site-logo-container {
        .site-logo {
          right: 5%;
          top: 6px;
          margin-left: auto;
        }
      }
    }
  }

  #unauth-content-container {
    .cta-container {
      #cta-text-bottom {
        margin-top: 200px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-laptop) {
  .nav-bar {
    .nav-wrapper {
      .site-logo-container {
        margin-right: auto;
      }
    }
  }

  #unauth-content-container {
    .cta-container {
      #cta-text-bottom {
        margin-top: 20%;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  #unauth-content-container {
    .cta-container {
      background-position: 0% 0%;
      height: 90%;

      #cta-text-top {
        padding-top: 100px;
      }

      #cta-text-bottom {
        margin-top: 35%;
      }
    }
  }
}
